.president {
  &__img {
    // width: 30%;
    margin: 0 auto;
    text-align: center;
    margin-top: 1.5rem;
    line-height: 1.5;
    text-transform: uppercase;

    img {
      // width: 50%;
      border-radius: 3%;
      box-shadow: 0 5px 10px #11090270;
    }

    &--title {
      display: block;
      font-weight: bold;
      font-size: 18px;
      text-shadow: 0 1.3px #0c06015b;
    }

    &--name {
      display: block;
      font-weight: bold;
      font-size: 14px;
      text-shadow: 0 1.3px #0c06015b;
    }

    &--number {
      display: block;
      font-size: 13px;
      font-weight: bold;
      text-shadow: 0 1.3px #0c06015b;
    }
  }

}

.vice-presidents {
  &__img {
    display: flex;
    justify-content: space-evenly;
    margin-top: 3rem;
    text-align: center;
    line-height: 1.5;
    text-transform: uppercase;

    &--vice {
      img {
        width: 8.375rem;
        height: 6.25rem;
        border-radius: 3%;
        box-shadow: 0 5px 10px #11090270;
      }

      &--title {
        display: block;
        font-weight: bold;
        font-size: 14px;
        text-shadow: 0 1.3px #0c06015b;
      }

      &--name {
        display: block;
        font-weight: bold;
        font-size: 12px;
        text-shadow: 0 1.3px #0c06015b;
      }

      &--number {
        display: block;
        font-size: 11px;
        font-weight: bold;
        text-shadow: 0 1.3px #0c06015b;
      }
    }
  }
}

.rc {

  &__img {
    margin: 0 auto;
    text-align: center;
    margin-top: 3rem;
    line-height: 1.5;
    text-transform: uppercase;

     img {
      width: 7.875rem;
      height: 6.25rem;   
      border-radius: 3%;
      box-shadow: 0 5px 10px #11090270;
    }

    &--title {
      display: block;
      font-weight: bold;
      font-size: 14px;
      text-shadow: 0 1.3px #0c06015b;
    }

    &--name {
      display: block;
      font-weight: bold;
      font-size: 12px;
      text-shadow: 0 1.3px #0c06015b;
    }

    &--number {
      display: block;
      font-size: 11px;
      font-weight: bold;
      text-shadow: 0 1.3px #0c06015b;
    }
  }


}

.financial {

    &__img {
    display: flex;
    justify-content: space-evenly;
    margin-top: 3rem;
    text-align: center;
    line-height: 1.5;
    text-transform: uppercase;

    &--vice {
      img {
        width: 7rem;
        height: 6rem;
        border-radius: 3%;
        box-shadow: 0 5px 10px #11090270;
      }

      &--title {
        display: block;
        font-weight: bold;
        font-size: 13.7px;
        text-shadow: 0 1.3px #0c06015b;
      }

      &--name {
        display: block;
        font-weight: bold;
        font-size: 11px;
        text-shadow: 0 1.3px #0c06015b;
      }

      &--number {
        display: block;
        font-size: 11px;
        font-weight: bold;
        text-shadow: 0 1.3px #0c06015b;
      }
    }
  }
}

.trustee {
     &__img {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    row-gap: 2rem;
    margin-top: 3rem;
    text-align: center;
    line-height: 1.5;
    text-transform: uppercase;

    @include breakpoint-down(small) {
        column-gap: 0;
    }

    &--vice {
      img {
        width: 7rem;
        height: 5rem;
        border-radius: 3%;
        box-shadow: 0 5px 10px #11090270;
      }

      &--title {
        display: block;
        font-weight: bold;
        font-size: 13px;
        text-shadow: 0 1px #0c06015b;
      }

      &--name {
        display: block;
        font-weight: bold;
        font-size: 11px;
        text-shadow: 0 1px #0c06015b;
      }

      &--number {
        display: block;
        font-size: 11px;
        font-weight: bold;
        text-shadow: 0 1px #0c06015b;
      }

      &.last {
          grid-column: 3/2;
      }
    }
  }
}

.back-to-home {
    position: fixed;
    width: 2rem;
    height: 2rem;
    right: 1.875rem;
    bottom: 1.875rem;
    z-index: 9999;
    border: 2.9px solid #800404;
    border-radius: 50%;
    background: whitesmoke;
    box-shadow: 2px 1px 15px -6px #110902bd;



    svg {
        @include absolutecenter;
    }
}
