
.footer {
    background: #201717;

    

   &__socials {
       display: flex;
       justify-content: space-evenly;
       padding-top: 1.5%;

       @include breakpoint-down(medium) {
           flex-direction: column;
           justify-content: end;
       }

       &--svg {
           flex: 2;
           align-self: center;
           margin: 5% 0;
       }

       &--phone {
           display: inline-flex;
           flex: 1;
           margin-left: 4%;


           &__content {
               align-self: center;
               color: white;

               

               h4 {
                   font-size: 1.2rem;

                    @include breakpoint-down(medium) {
                    font-size: 1rem;
                   }
               }

               span {
                   color: rgba(255, 255, 255, 0.527);
                   font-size: 0.875rem;
               }
           }
       }
       
       &--mail {
           display: inline-flex;
           flex: 1;
           margin-left: 4%;



           &__content {
               align-self: center;
               color: white;

               h4 {
                   font-size: 1.2rem;

                    @include breakpoint-down(medium) {
                      font-size: 1rem;
                   }
               }

               span {
                   color: rgba(255, 255, 255, 0.527);
                   font-size: 0.875rem;
               }
           }
       }
       
       &--location {
           display: inline-flex;
           flex: 1;
           margin-left: 4%;

           &__content {
               align-self: center;
               color: white;

               h4 {
                   font-size: 1.2rem;

                   @include breakpoint-down(medium) {
                    font-size: 1rem;
                   }
               }

               span {
                   color: rgba(255, 255, 255, 0.527);
                   font-size: 0.875rem;
               }
           }
       }


   }
    
}

